<h2>Hetaste</h2>
<%= for article <- @trending do %>
  <%= render "article.html", article: article %>
<% end %>

<h2>Senaste</h2>
<%= for article <- @latest do %>
  <%= render "article.html", article: article %>
<% end %>

<h2>Ettan</h2>
<%= for article <- @page do %>
  <%= render "article.html", article: article %>
<% end %>
